<header class="header  py-3 bg-light" >
    <div class="container" style="justify-content: space-between;display: flex;">
        <!--<span class="text-muted">Все права защищены</span>-->
        <!--<form href="/news/allhb" target="_blank">
   <button>Список новостей</button>-->
   <a href="/">На главную</a>
   <a href="/whs/all">Список ВХС</a>
   <a href="/whs/create/whs">Добавить ВХС</a>
    </div>
    

</header>